    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/money-flow.png" width="100" height="100" alt="icon-document">
                </div>

                <h1 class="text-center">Registar tipo de contribuyente</h1>
                <form>
                    <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input required [(ngModel)]="tipoContribuyente.nombre" type="text" matInput placeholder="Digite el nombre del tipo de documento" name="nombre" id="nombre">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Estado</mat-label>
                      <mat-select required [(ngModel)]="tipoContribuyente.estado" name="estado_" id="estado_">
                          <mat-option>-- Seleccionar un estado --</mat-option>
                          <mat-option [value]="1">ACTIVO</mat-option>
                          <mat-option [value]="0">INACTIVO</mat-option>
                      </mat-select>
                  </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary" (click)="addTaxpayerType()" *ngIf="!tipoContribuyente.id" style="margin-top: 15px;">Guardar</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent" (click)="updateTaxpayerType()" *ngIf="tipoContribuyente.id" style="margin-top: 15px;">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
